.dashboard-data {
  /* margin: 80px 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.ant-statistic {
  padding: 35px;
  border: 1px solid red;
  border-radius: 50%;
  height: 180px;
  width: 180px;
}
.chart {
  padding: 40px 70px;
}
.circle {
  display: flex;
  align-items: center;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  justify-content: center;
  font-size: 25px;
  flex-direction: column;
}

@media (width <= 640px) {
  .chart {
    padding: 10px;
  }
}
